.scorecard-container {
  background-color: #cf60c8;
  height: 60%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-card-image {
  height: 100px;
  width: 100px;
}
